svg {
  width: 100%;
  border: 1px solid black;
}

#path8886{
  stroke: none !important;
}

.circle-green {
  display: inline-table;
  vertical-align: middle;
  width: 40px;
  height: 40px;
  background-color: green;
  border-radius: 50%;
}

.circle-red {
  display: inline-table;
  vertical-align: middle;
  width: 40px;
  height: 40px;
  background-color: red;
  border-radius: 50%;
}

.circle__content {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.ml-auto{
  margin-left: auto;
}
/* YourComponent.css */
.description {
  border: 1px solid black;
  width: 40%;
  margin-top: 20px;
  border-radius: 12px;
}

.parent-div-first{
  display: flex;
  align-items: end;
  justify-content: end;
}

.description div {
  display: flex;
  align-items: center;
  align-items: center;
  padding: 10px;
}

.text-bg {
  position: relative;
}

#tspan2160 {
  fill: white;
  cursor: pointer;
}
text{
  cursor: pointer;
}

.unsold {
  height: 30px;
  width: 5%;
  background-color: green;
  border-radius: 50%;
  display: inline-block;
}

.sold {
  height: 30px;
  width: 5%;
  background-color: red;
  border-radius: 50%;
  display: inline-block;
}

#tspan368 {
  cursor: pointer;
}

.text-bg:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: rgba(227, 54, 54, 0.6);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(13.5px);
  -webkit-backdrop-filter: blur(13.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.text-bg.bg-active:before {
  opacity: 1;
}

/* contact css */


.contact-container {
  background-color: #f8f9fa; /* Light background color */
  padding: 40px;
  border-radius: 10px;
  text-align: center;
}

.contact-heading {
  color: #343a40; /* Dark text color */
  font-size: 2rem;
}

.contact-info {
  background-color: #ffffff; /* White background color */
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}



.map-container {
  border-radius: 10px;
  overflow: hidden; /* Ensure the map stays within the container's rounded corners */
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}



