svg {
  width: 100%;
  /* border: 1px solid black; */
}

.logo {
  width: 200px;
}

@media screen and (max-width: 767px) {
  .logo {
    width: 130px;
  }
}

#path8886 {
  stroke: none !important;
}

.circle-green {
  display: inline-table;
  vertical-align: middle;
  width: 40px;
  height: 40px;
  background-color: green;
  border-radius: 50%;
}

.circle-red {
  display: inline-table;
  vertical-align: middle;
  width: 40px;
  height: 40px;
  background-color: red;
  border-radius: 50%;
}

.circle__content {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.ml-auto {
  margin-left: auto;
}
/* YourComponent.css */
.description {
  border: 1px solid black;
  width: 40%;
  margin-top: 20px;
  border-radius: 12px;
}

.parent-div-first {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.description div {
  display: flex;
  align-items: center;
  align-items: center;
  padding: 10px;
}

.text-bg {
  position: relative;
}

#tspan2160 {
  fill: white;
  cursor: pointer;
}
text {
  cursor: pointer;
}

.unsold {
  height: 30px;
  width: 5%;
  background-color: green;
  border-radius: 50%;
  display: inline-block;
}

.sold {
  height: 30px;
  width: 5%;
  background-color: red;
  border-radius: 50%;
  display: inline-block;
}

#tspan368 {
  cursor: pointer;
}

.text-bg:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: rgba(227, 54, 54, 0.6);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(13.5px);
  -webkit-backdrop-filter: blur(13.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.text-bg.bg-active:before {
  opacity: 1;
}

/* contact css */

.contact-container {
  background-color: #f8f9fa; /* Light background color */
  padding: 40px;
  border-radius: 10px;
  text-align: center;
}

.contact-heading {
  color: #343a40; /* Dark text color */
  font-size: 2rem;
}

.contact-info {
  background-color: #ffffff; /* White background color */
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.map-container {
  border-radius: 10px;
  overflow: hidden; /* Ensure the map stays within the container's rounded corners */
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

/* about */

.about-banner {
  background: url(./assets/construction-workers-sunset.jpg) no-repeat;
  background-position: center;
  background-size: cover;
  object-fit: contain;
  object-position: center;
  width: 100%;
  height: 35vh;
}

.about-banner {
  position: relative;
  width: 100%;
  height: 35vh;
  overflow: hidden; /* Ensure the dark layer covers the entire banner */
}

.about-banner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6); 
  z-index: 1; 
}

.banner-title{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white; 
  z-index: 2; 
}

.banner-title svg{
  width: 30px !important;
  border: none;
}

.banner-content{
  display: grid;
  place-items: center;
  box-shadow: 0px 4px 44px rgba(211, 211, 211, 0.35);
 padding-top: 20px;
 padding-bottom: 10px;
  border-radius: 12px;
}

@media screen and (min-width: 991px) {
  .banner-content{
    padding: 30px;
  }
}

.banner-content ol li{
  padding-top: 15px;
  font-size: 20px;
}

@media screen and (max-width: 767px ) {
  .banner-content ol li{
    padding-top: 10px;
    font-size: 13px;
  }
}

.card{
  box-shadow: 0px 4px 44px rgba(211, 211, 211, 0.35);
  /* border: 1px solid black !important; */
}

@media screen and (min-width: 767px) {
  .features{
    display: none !important;
  }
}

/* footer css */

.footer-dark {
  padding:20px 0;
  color:#f0f9ff;
  background-color:#282d32;
}

.footer-dark h3 {
  margin-top:0;
  margin-bottom:12px;
  font-weight:bold;
  font-size:16px;
}

.footer-dark ul {
  padding:0;
  list-style:none;
  line-height:1.6;
  font-size:14px;
  margin-bottom:0;
}

.footer-dark ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.6;
}

.footer-dark ul a:hover {
  opacity:0.8;
}

@media (max-width:767px) {
  .footer-dark .item:not(.social) {
    text-align:center;
    padding-bottom:20px;
  }
}

.footer-dark .item.text {
  margin-bottom:36px;
}

@media (max-width:767px) {
  .footer-dark .item.text {
    margin-bottom:0;
  }
}

.footer-dark .item.text p {
  opacity:0.6;
  margin-bottom:0;
}









.footer-dark .copyright {
  text-align:center;
  padding-top:24px;
  opacity:0.3;
  font-size:13px;
  margin-bottom:0;
}

.card-body a{
  color: white;
  text-decoration: none;
}

.text p{
  padding-top: 10px;
}